{
  "AllowedCorsOrigin": "https://cysun.org",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=laci;Username=cysun;Password=abcd"
  },
  "OIDC": {
    "Authority": "https://identity.cysun.org",
    "ApiScope": "laci-api"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
